@font-face {
  font-family: 'Argentina';
  src: url('./fonts/Argentinian-Nights.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url('./fonts/ArchivoNarrow-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Loveline';
  src: url('./fonts/Loveline.ttf') format('ttf');
  // font-weight: normal;
  // font-style: normal;
}

html{
  width: 100%;
    height: 100%;
}
body{
  // background-color: yellow;
  width: 100%;
    height: 100%;
}
footer{
  height: 18vh;
  background: #282E34;
  padding-top: 30px;
}
#copyright{
  color: white;
}
#copyright:before{
  content: "\00a9 ";
}
#social{
  a:link,  a:visited, a:hover, a:active,{
    text-decoration: none;
    color: #D7BAB8;
  }
}
.fa{
  color: #D7BAB8;
}
#nav{
  width: 50%;
  justify-content: space-around;
  align-items: center;

    a:link,  a:visited, a:active,{
      text-decoration: none;
      color: black;
    }
    a:hover{
      color: #D7BAB8;
    }


}
#top-nav{
  background: #fff;
  // padding: 10px;
  height: 10vh;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  margin: auto;
  z-index: 10001;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
}
#section1{
  position: relative;
  background: url('./images/desk3.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section2{
  min-height: 300px;
  position: relative;
  background: url('./images/desk4.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section3{
  min-height: 300px;
  position: relative;
  background: url('./images/desk2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
#mobile-title{
  position: absolute;
  bottom: 50%;
  color: #000;
  text-shadow: #c9c9c9 1px 0 3px;

}

.title{
  position: absolute;
  // left: 0;
  bottom: 25%;
  width: 400px;
  // text-align: center;
  color: #000;
  // width: 60%;
  // margin: auto;
  // text-align: center;
  // background: rgba(250, 250, 250, 0.8);
}
.subtitle{
  font-size: 1.4em;
  letter-spacing: 0.15em;
  font-weight: lighter;
  // text-align: justify;
  margin-right: 10%;
  font-family: "Archivo", sans-serif;
}
p{
  font-family: "Archivo", sans-serif;
  font-weight: lighter;

}
h1{
  // padding: 50px;
  font-size: 5.8em;
  // font-family: "Loveline";
  font-family: "Argentina";
  justify-content:flex-end;
  margin-right: 10%;

}
h2{
  font-size: 1.4em;
  letter-spacing: 0.15em;
  font-weight: lighter;
  // justify-content:flex-end;
  text-align: justify;
  margin-right: 10%;
  font-family: "Archivo", sans-serif;
}
h3{
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  display: inline;
  padding: 0 7px;
  // margin: 20px;
}
.h4{
  font-size: 1.5em;
  width: 50px;
  height: 50px;

  font-family: "Argentina";
  background-color: #D7BAB8;
  border-radius: 50%;
  color: white;
  padding: 15px;
}
h4{
  font-size: 1.5em;
  font-family: "Archivo", sans-serif;
  font-weight: lighter;
  color: black;
  cursor: pointer;
}
h4:hover{
  color: #D7BAB8;
}
h5{
  font-family: "Archivo", sans-serif;
  font-size: 2em;
  color: #282E34;
  text-shadow: #CCC 1px 0 10px;
  font-weight: lighter;
  padding-bottom: 20px;
  text-align: center;
}

.text-align-center{
  text-align: center;
}
.text-align-left{
  text-align: left;
}
.main{
  margin-top: 10vh;
}
.padding50b{
  padding-bottom: 50px;
}
.padding5vhb{
  padding-bottom: 5vh;
}
.padding5{
  padding: 5px;
}
.padding15{
  padding: 15px;
}
.margin-auto{
  margin: auto;
}
.flex-col{
  flex-direction: column;
}
.padding50{
  padding: 50px;
}
.flex{
  display: flex;
}
.flex-grow{
  flex-grow: 1;
}
.just-cont-around{
  justify-content: space-around;
}
.just-cont-between{
  justify-content: space-between;
}
.just-cont-center{
  justify-content: center;
}
.just-cont-f-e{
  justify-content: flex-end;
}
.align-i-cent{
  align-items: center;
}
.width10{
  width: 15%;
}
.width20{
  width: 20%;
}
.width30{
  width: 30%;
}
.width40{
  width: 40%;
}
.width50{
  width: 50%;
}
.width60{
  width: 60%;
}
.width75{
  width: 75%;
}
.width80{
  width: 80%;
}
.width100{
  width: 100%;
}
.subsection{
  background-color: white;
  padding: 5px;
}
.h-50vh{
  height: 50vh;
}
.h-60vh{
  height: 60vh;
}
.h-80vh{
  height: 60vh;
}
.h-100vh{
  height: 100vh;
}


/* The ribbons */
.box {
  width: 300px; height: 400px;
  position: relative;
  border: 1px solid #BBB;
  background: transparent;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 200px;
  display: block;
  background: #282E34;
  background: linear-gradient(#282E34 0%, #24292E 100%);

  // background: linear-gradient(#D7BAB8 0%, #E3CECD 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 37px; left: -43px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #282E34;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #282E34;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #282E34;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #282E34;
}

// CYCLE //

.cycle-slideshow {
  box-shadow: 1px 0px rgba(0,0,0,0), -1px 5px rgba(0,0,0,0.07), 0 0 1px 2px rgba(0,0,0,0.05);

  border-radius: 50px;
  margin: auto;
    width: 60%;
    height: 400px;
    display: block;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    // margin: 0;
}
.cycle-slideshow div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.cycle-next {
    right: 0;
    background: url('./images/right.png') 50% 50% no-repeat;
}
.cycle-prev {
    left: 0;
    background: url('./images/prev.png') 50% 50% no-repeat;
}
.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 8%;
    opacity: .70;
    filter: alpha(opacity=80);
    z-index: 800;
    height: 100%;
    cursor: pointer;
}
.slide-image {
    position: relative;
    background-position: center;
    background-size: cover !important;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=80);
}
#examples{
  width: 100%;
}
#projectSection{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
// EXAMPLE IMAGES //
.ex1a{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex1a.png');
  background-size: cover;
  background-position: center;
}
.ex1b{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex1b.png');
  background-size: cover;
  background-position: center;
}
.ex1c{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex1c.png');
  background-size: cover;
  background-position: center;
}
.ex2a{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex2a.png');
  background-size: cover;
  background-position: center;
}
.ex2b{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex2b.png');
  background-size: cover;
  background-position: center;
}
.ex2c{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex2c.png');
  background-size: cover;
  background-position: center;
}
.ex2d{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.2)),url('./images/ex2d.png');
  background-size: cover;
  background-position: center;
}
.ex3a{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex3a.png');
  background-size: cover;
  background-position: center;
}
.ex3b{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex3b.png');
  background-size: cover;
  background-position: center;
}
.ex3c{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex3c.png');
  background-size: cover;
  background-position: center;
}
.ex3d{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex3d.png');
  background-size: cover;
  background-position: center;
}
.ex4a{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex4a.png');
  background-size: cover;
  background-position: center;
}
.ex4b{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex4b.png');
  background-size: cover;
  background-position: center;
}
.ex4c{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex4c.png');
  background-size: cover;
  background-position: center;
}
.ex4d{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex4d.png');
  background-size: cover;
  background-position: center;
}
.ex5a{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex5a.png');
  background-size: cover;
  background-position: center;
}
.ex5b{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex5b.png');
  background-size: cover;
  background-position: center;
}
.ex5c{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex5c.png');
  background-size: cover;
  background-position: center;
}
.ex5d{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex5d.png');
  background-size: cover;
  background-position: center;
}
.ex6a{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex6a.png');
  background-size: cover;
  background-position: center;
}
.ex6b{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex6b.png');
  background-size: cover;
  background-position: center;
}
.ex6c{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex6c.png');
  background-size: cover;
  background-position: center;
}
.ex6d{
  background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.3)),url('./images/ex6d.png');
  background-size: cover;
  background-position: center;
}
#descriptions{
  width: 100%;
}
.desc{
  padding: 20px 0;
}
#desc2{
  display: none;
}
#desc3{
  display: none;
}
#desc4{
  display: none;
}
#desc5{
  display: none;
}
#desc6{
  display: none;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 900px) {
  #section1{
    background-position: left;
    height: 100vh;
  }
  #social{
    justify-content: space-around;
    width: 100%;
  }
  #desktop-title{
    display: none;
  }
  #desktop-info{
    display: none;
  }

    #section1, #section2, #section3 {
        background-attachment: scroll;
    }

}
@media only screen and (min-device-width: 900px) {
  #social{
    justify-content: space-between;
    width: 50%;
  }
    #examples{
      width: 65%;
    }
    #social-wrap{
      padding: 50px;
    }
    #mobile-title{
      display: none;
    }
    #mobile-info{
      display:none;
    }
    #projectSection{
      display: flex;
      flex-direction: row;
      padding: 50px;
    }
    #descriptions{
      width: 30%;
    }
    #section2{
      min-height: 450px;
    }
    #section3{
      min-height: 450px;
    }
    #section1, #section2, #section3 {
        background-attachment: fixed;
    }
    footer{
      padding: 50px;
    }
}
