@font-face {
  font-family: 'Argentina';
  src: url('./fonts/Argentinian-Nights.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  width: 100%;
    height: 100%;
}
body{
  // background-color: yellow;
  width: 100%;
    height: 100%;
}
footer{
  height: 30vh;
  background: #282E34;
}
#social{
  a:link,  a:visited, a:hover, a:active,{
    text-decoration: none;
    color: white;
  }
}
#nav{
  width: 50%;
  justify-content: space-around;
  align-items: center;

  // flex-grow: 1;


}
#top-nav{
  background: #fff;
  // padding: 10px;
  height: 10vh;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  margin: auto;
  z-index: 10001;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
}
#section1{
  position: relative;
  background: url('./images/desk3.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section2{
  min-height: 450px;
  position: relative;
  background: url('./images/desk4.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section3{
  min-height: 450px;
  position: relative;
  background: url('./images/desk2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.title{
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 100%;
  // text-align: center;
  color: #000;
  // width: 60%;
  // margin: auto;
  // text-align: center;
  // background: rgba(250, 250, 250, 0.8);
}

h1{
  // padding: 50px;
  font-size: 4.8em;
  font-family: "Argentina";
  justify-content:flex-end;
  margin-right: 10%;

}
h2{
  font-size: 1.8em;
  justify-content:flex-end;
  margin-right: 10%;


}
h3{
  display: inline;
  padding: 0 25px;
  // margin: 20px;
}
.text-align-center{
  text-align: center;
}
.main{
  margin-top: 10vh;
}
.padding50b{
  padding-bottom: 50px;
}
.padding5vhb{
  padding-bottom: 5vh;
}
.padding15{
  padding: 15px;
}
.margin-auto{
  margin: auto;
}
.flex-col{
  flex-direction: column;
}
.padding50{
  padding: 50px;
}
.flex{
  display: flex;
}
.just-cont-around{
  justify-content: space-around;
}
.just-cont-between{
  justify-content: space-between;
}
.just-cont-center{
  justify-content: center;
}
.align-i-cent{
  align-items: center;
}
.width75{
  width: 75%;
}
.width100{
  width: 100%;
}
.subsection{
  background-color: white;
  padding: 40px;
}
.h-50vh{
  height: 50vh;
}
.h-60vh{
  height: 60vh;
}
.h-80vh{
  height: 60vh;
}
.h-100vh{
  height: 100vh;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    #section1, #section2, #section3 {
        background-attachment: scroll;
    }
}
